extend ../layout

block content
  form(action="/surveys", method="post")
    div
      label(for=name) Name
      div: input(id=name type=text, name="name")
    div
      label(for=description) Description
      div: textarea(id=description, name="description")
    div
      label Options
      div: input(type=text, name="options[][text]")
      div: input(type=text, name="options[][text]")
    div
      a(href=/) Cancel
      button(type=submit) Enviar
