extends ../layout

block content
  div(class="survey-page")
    section(class="section")
      div(class="container")
        div(class="columns is-centered")
          div(class="column is-two-thirds")
            div
              a(href="/") &larr; Back

            div(class="box header-box")
              h1(class="title is-size-3 has-text-weight-light")= survey.name
              p(class="subtitle is-6 has-text-grey-light") Creado por user2@example.com
              p= survey.description

            div(class="box options-box has-background-white")
              div(class="options")
                each option, i in survey.options
                  div(class="option")
                    div(class="option-label") #{option.text}
                      span #{survey.options[i].votes} votes
                    div(style="display: flex;")
                      div(class="option-bar" style="width: " + survey.optionPercentage(i) + "%;")
                        if survey.optionPercentage(i) >= 10
                          span= Math.round(survey.optionPercentage(i)) + "%"
                      if survey.optionPercentage(i) < 10
                        div(style="color: #999; font-size: 0.8rem; font-weight: 600; margin-left: 7px; padding: 9px 0;")= Math.round(survey.optionPercentage(i)) + "%"
